body {
    display: flex;
    justify-content: center;
}

.calculator {
    display: flex;
    width: 400px;
    height: 500px;
    flex-wrap: wrap;

}

button {
    display: flex;
    width: 100px;
    height: 100px;
    flex-grow: 1;
}

#display {
    width: 400px;
    height: 100px;
    background-color: gray;
    border: 1px solid black;
}